@font-face {
 font-family: "Muli";
 font-style: normal;
 font-weight: 700;
 src: url("chrome-extension://__MSG_@@extension_id__/fonts/Muli-Regular.ttf"); 
}

html {
	font-family: "Muli", Helvetica, sans-serif;
	font-size: 16px;
}

body {
	font-size: 1rem !important;
}

hr {
	border: none;
	height: 1px;
	background-color: #ccc;
}

a {
	color: #4a6eb3;
	text-decoration: none;
}

button {
	font-family: "Muli", Helvetica, sans-serif;
	font-size: 1rem;
}

.alert {
	display: block;
	position: relative;
	width: 90%;
	max-width: 920px;
	min-height: 80px;
	margin: 8px auto;
	padding: 20px 20px 20px 80px;
	background-color: #fff;
	border: 1px solid #333;
	color: #333;
	border-radius: 4px;
	box-sizing: border-box;
}

.alert > h2,
.alert > h3 {
	margin-top: 0;
}

.alert.warning {
	color: #6b6217;
	background-color: #fff8be;
	border-color: #6b6217;
}

.alert.info {
	color: #0e2335;
	background-color: #e0f1ff;
	border-color: #0e2335;
}

.alert.error {
	background-color: #ffe1e1;
	border-color: #400000;
	color: #400000;
}

.alert.success {
	background-color: #caffc4;
	border-color: #084e00;
	color: #084e00;
}

.alert::before {
	content: "";
	position: absolute;
	display: inline-block;
	top: 0;
	transform: translate(0, 50%);
	left: 20px;
	width: 40px;
	height: 40px;
	background-size: cover;
	margin-right: 24px;
}

.alert.small {
	font-size: 0.75rem;
}

.alert.medium {
	font-size: 1rem;
}

.alert.large {
	font-size: 1.25rem;
}

.alert.single-line {
	display: flex;
	flex-direction: row;
	align-items: center;
}
	
.alert.warning::before {
	background-image: url("chrome-extension://__MSG_@@extension_id__/icons/warning.png");
}

.alert.info::before {
	background-image: url("chrome-extension://__MSG_@@extension_id__/icons/alert.png");
}

.alert.error::before {
	background-image: url("chrome-extension://__MSG_@@extension_id__/icons/error.png");
}

.alert.clock::before {
	background-image: url("chrome-extension://__MSG_@@extension_id__/icons/clock-alert.png");
}

.alert.success::before {
	background-image: url("chrome-extension://__MSG_@@extension_id__/icons/success.png");
}

.guide-panel {
	display: block;
	position: relative;
	width: 90%;
	max-width: 920px;
	margin: 8px auto;
	padding: 20px;
	background-color: #fafafa;
	border: 1px solid #333;
	color: #333;
	border-radius: 4px;
  box-sizing: border-box;
}

.guide-panel-title {
	display: block;
	text-transform: uppercase;
	font-size: 0.75rem;
	color: #666;
	margin-top: -12px;
	margin-bottom: 12px;
}

.icon-guide br {
	display: none;
}

.icon-group:not(:last-of-type) {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 16px;
}

.icon-group img {
	width: 40px !important;
	height: 40px !important;
	margin-right: 20px;
}

.icon-guide-note {
	font-style: italic;
  font-size: 0.8rem;
}

.info-pill {
	border: 1px solid #333;
	padding: 2px 6px;
	border-radius: 4px;
	background-color: #ccc;
	margin: 2px 4px;
	display: inline-block;
	font-size: 0.7rem;
}

.button {
	margin: 12px 8px 12px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1rem;
	padding: 8px 16px;
	transition: background-color 0.25s;
	font-family: "Muli", Helvetica, sans-serif;
	font-size: 1.25rem;
	margin-top: 8px;
}

.button:hover,
.button:focus {
	background-color: #f0f0f0;
}

.image-button,
.link-button {
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
}

.link-button {
	font-family: "Muli", Helvetica, sans-serif;
	font-size: 1rem;
	color: #4a6eb3;
}

.accessibility-text {
	position: absolute;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	z-index: -1000;
	font-size: 1px;
}

input[type="checkbox"] {
	width: 1px;
	height: 1px;
	border: 0;
	clip: rect(0 0 0 0);
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	pointer-events: auto;
	width: 40px;
	height: 40px;
}

.checkbox-interactable {
	position: relative;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	border: 1px solid #dddbda;
	border-radius: 0.125rem;
	background: white;
	-webkit-transition: border 0.1s linear, background-color 0.1s linear;
	transition: border 0.1s linear, background-color 0.1s linear;
}

.checkbox-label {
	position: relative;
	display: inline;
	vertical-align: middle;
	font-size: 0.9rem;
	color: #333;
	margin: 8px;
	padding-top: 4px;
}

.checkbox-label img {
	position: relative;
	top: 4px;
}

input[type="checkbox"]:checked + .checkbox-label-container > .checkbox-interactable::after {
	content: "";
	position: absolute;
	display: block;
	left: 2px;
	top: 2px;
	width: 12px;
	height: 12px;
	background-image: url("chrome-extension://__MSG_@@extension_id__/icons/checkbox-checkmark.png");
	background-size: contain;
}

.tooltip {
	position: absolute;
	display: none;
  left: 100%;
  top: 50%;
  width: max-content;
  max-width: 250px;
  overflow: visible;
  background-color: #fff;
  border: 1px solid #dddbda;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  padding: 10px 20px;
  transform: translate(0, -50%);
  box-sizing: border-box;
  opacity: 0.999;
  z-index: 40;
	pointer-events: none;

}

.tooltip::before,
.tooltip::after {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  transform: rotate(45deg);
  content: "";
  background-color: inherit;
  top: 50%;
  left: -0.25rem;
  margin-top: -0.25rem;
  z-index: 39;
}

.tooltip::after {
  box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.16);
  z-index: 38;
}

.tooltip.bottom {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.tooltip.bottom::before,
.tooltip.bottom::after {
  left: 50%;
  margin-left: -0.25rem;
  top: 0;
  transform: rotate(135deg);
}