.header {
	background-color: #4a4fc1 !important;
	height: 44px !important;
}

.header-content {
	display: flex;
	background-color: transparent;
	align-items: center;
	height: 44px;
	padding-left: 20px;
	box-sizing: border-box;
}


.header a[href="."]::after {
	content: "OLWLG";
	margin-right: 20px;
	color: #fff;
	font-size: 1.5rem;
}

.header a[href="."] img {
	display: none;
}

.header a img {
	height: 36px;
	margin-right: 8px;
}

.user-dropdown-toggle {
	position: relative;
	height: 100%;
	font-family: "Muli", Helvetica, sans-serif;
	font-size: 1rem;
	margin-left: auto;
	color: #fff;
	padding: 0 20px;
	border: none;
	background-color: transparent;
	transition: background-color 0.25s;
}

.user-dropdown-toggle:hover,
.user-dropdown-toggle:focus,
.user-dropdown-toggle.active {
	background-color: rgba(255, 255, 255, 0.15);
	outline: none;
}

.user-dropdown-toggle .user-dropdown-chevron {
	position: relative;
	display: inline-block;
	top: -2px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-top: 8px solid #fff;
	border-right: 5px solid transparent;
	margin-left: 10px;
	transition: transform 0.25s;
}

.user-dropdown-toggle.active .user-dropdown-chevron {
	transform: rotate(90deg);
}

.user-dropdown {
	position: absolute;
	display: none;
	left: 0;
	top: 100%;
	background-color: #4a4fc1;
	flex-direction: column;
	width: 100%;
}

.user-dropdown-toggle.active .user-dropdown {
	display: flex;
}

.user-dropdown a {
	padding: 4px 0;
	transition: background-color 0.25s;
}
.user-dropdown a:focus,
.user-dropdown a:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.user-dropdown-option {
	display: flex;
	padding: 4px 12px;
	align-items: center;
}

.user-dropdown-option img {
	margin: 0 8px;
}

.user-dropdown-option span {
	color: #fff;
}