.content > table:first-of-type {
	margin-top: 16px;
}

#table {
	padding: 20px 0;
}

#uform {
	position: relative;
}

table .tab {
	display: inline-block;
}

table .tab:hover {
	border: none;	
}

.tab .mode-button {
	display: inline-block;
	padding: 4px 8px;
	margin-right: 8px;
	border-radius: 4px;
	border: 1px solid transparent;
	transition: background-color 0.25s;
}

.tab .yellow {
	background-color: #fff59e;
	border-color: #968706;
}

.tab .pink {
	background-color: #ffcef3;
	border-color: #730057;
}

.tab .lightblue {
	background-color: #d0dbff;
	border-color: #001d75;
}

.tab .green {
	background-color: #228422;
	border-color: #042300;
}

.tab .lime {
	background-color: #97ff9c;
	border-color: #38942d;
}

.tab .mode-button:hover,
.tab .mode-button:focus {
	border-style: solid !important;
	border-width: 1px !important;
}

.tab .yellow:hover,
.tab .yellow:focus {
	background-color: #fffef1;
	border-color: #968706 !important;
}

.tab .pink:hover,
.tab .pink:focus {
	background-color: #ffe9f9;
	border-color: #730057 !important;
}

.tab .lightblue:hover,
.tab .lightblue:focus {
	background-color: #e9eefd;
	border-color: #001d75 !important;
}

.tab .green:hover,
.tab .green:focus {
	background-color: #4fc34f;
	border-color: #042300 !important;
}

.tab .lime:hover,
.tab .lime:focus {
	background-color: #e1ffe1;
	border-color: #38942d !important;
}

div#cellinfo {
	right: 20px;
	bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.16);
	padding: 8px 8px;
	pointer-events: none;
}

div#cellinfo:empty {
	display: none;
}

#dummy table {
	border: none;
	border-collapse: collapse;
}

#dummy table th {
	border: none;
	background-color: #d0d0d0;
	padding: 4px 8px;
}

#dummy table th br {
	content: "";
}

#dummy table th br::after {
	content: " ";
}

#dummy table td {
	border: none;
	padding: 0 16px;
}

#dummy table tr:nth-of-type(2n +1) td {
	background-color: #f0f0f0;
}

.new-dummy-item-panel {
	padding: 20px 20px 0;
	margin-left: 0;
	background-color: #fafafa;
	width: 600px;
}

.new-dummy-item-panel table {
	margin-bottom: 12px;
}

.new-dummy-item-panel > form > input[type=submit],
.new-dummy-item-panel > form > input[type=reset],
#submit {
	margin: 12px 8px 12px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1rem;
	padding: 8px 16px;
	transition: background-color 0.25s;
}

.new-dummy-item-panel > form > input[type=submit]:focus,
.new-dummy-item-panel > form > input[type=submit]:hover,
.new-dummy-item-panel > form > input[type=reset]:focus,
.new-dummy-item-panel > form > input[type=reset]:hover,
#submit:hover,
#submit:focus {
	background-color: #f0f0f0;
}

#dummy .new-dummy-item-panel input + font {
	margin-top: 2px;
	display: block;
}

#dummy .new-dummy-item-panel table:first-of-type tbody tr td {
	padding: 4px 16px;
}

.ondummy2 .isdummy {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #436943;
	border-radius: 4px;
	margin: 0 4px;
}

#submit {
	font-family: "Muli", Helvetica, sans-serif;
	font-size: 1.25rem;
	margin-top: 8px;
}

.itemschanged img {
	position: relative;
	top: 5px;
}

.notsubmitted b {
	margin: 0 4px;
}

.content {
	display: flex;
	flex-direction: column;
}
.content > br {
	display: none;
}

.time-remaining {
	order: -1;
}

.time-remaining .deadline{
	background-color: transparent !important;
	color: inherit !important;
}